$white:rgb(255, 255, 255);
$font-heading-black:rgb(0, 0, 0);
$font-p-darkGray:rgb(72, 72, 72);
$bg-white:rgb(255, 255, 255);
$theme-color:rgb(238, 51, 100);
$heading-font-size:40px;
$headiing-font-weight:600;
$theme-bg:#edf7ff;
$font-heading: 'glaciaz';


