@font-face {
    font-family: 'glaciaz';
    src: url('../fonts/GlacialIndifference-Regular.wof2') format('woff2'),
        url('../fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'glaciaz';
    src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2'),
        url('../fonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}